In [1]:
import numpy as np
import pandas as pd

# Other nesscessary libraries   
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Activation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
# loading the csv data to a Pandas DataFrame
data = pd.read_csv('heart.csv')

In [3]:

y = data.target # Target label 
X = data.drop('target', axis=1) # Drop the target label

In [4]:
data.head() # printing the first 5 rows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
y.unique() # print the unique values

array([1, 0], dtype=int64)

In [6]:
Encoder = LabelEncoder() #create an object of class LabelEncoder
y = Encoder.fit_transform(y) # encode our target/label categories to numbers
y # ML uses these numeric labels (0, 1, 2) to do classification

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [7]:
X.head() #  Printing the first 5 rows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [8]:
X["sex"] = Encoder.fit_transform(X["sex"]) # Replace the existing text data with the new encoded data
#X.head()
X.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [9]:
X.isnull().sum() # Display missing data in our training data

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [10]:
y.shape, X.shape

((303,), (303, 13))

In [11]:
# Split data into train data and test train data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)

In [12]:
# Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [13]:
X.shape[1]

13

In [14]:

model = Sequential()
model.add(Dense(700, input_shape=(X.shape[1],),activation = "relu")) #Layer 1
#model.add(Dense(700, input_shape=(X.shape[1], ), activation='relu')) # Layer 1 
model.add(Dense(600,activation = "relu")) #Layer 2
model.add(Dense(500,activation = "relu")) #Layer 3
model.add(Dense(400,activation = "relu")) #Layer 4
model.add(Dense(300,activation = "relu")) #Layer 5
model.add(Dense(3,activation = "softmax")) #Output Layer
#Configure the model   
model.compile(optimizer="Adam", loss='sparse_categorical_crossentropy', metrics=['accuracy']) #Output layer
#Train the model
model.fit(X_train, y_train, batch_size=64, epochs=5)

Epoch 1/5
4/4 [==============================] - 0s 11ms/step - loss: 0.8008 - accuracy: 0.6792
Epoch 2/5
4/4 [==============================] - 0s 10ms/step - loss: 0.3882 - accuracy: 0.8491
Epoch 3/5
4/4 [==============================] - 0s 9ms/step - loss: 0.3332 - accuracy: 0.8538
Epoch 4/5
4/4 [==============================] - 0s 10ms/step - loss: 0.2776 - accuracy: 0.8726
Epoch 5/5
4/4 [==============================] - 0s 11ms/step - loss: 0.2551 - accuracy: 0.9009

In [20]:
model.evaluate(X_test, y_test) # Evaluate model on test data

3/3 [==============================] - 0s 3ms/step - loss: 0.5859 - accuracy: 0.8132

[0.5859400033950806, 0.8131868243217468]

In [21]:
model = LogisticRegression()

In [22]:
# training the LogisticRegression model with Training data
model.fit(X_train, y_train)

LogisticRegression()

In [23]:
# accuracy on training data
Xtrain_prediction = model.predict(X_train)
DataAccuracy = accuracy_score(Xtrain_prediction, y_train)

In [24]:
print('Accuracy on Training data : ', DataAccuracy)

Accuracy on Training data :  0.8726415094339622

In [25]:
# accuracy on test data
Xtest_prediction = model.predict(X_test)
testAccuracy = accuracy_score(Xtest_prediction, y_test)

In [26]:
print('Accuracy on Test data : ', testAccuracy)

Accuracy on Test data :  0.8351648351648352

In [27]:
from sklearn.ensemble import RandomForestClassifier 

model = RandomForestClassifier(max_depth=4, random_state = 10) 
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=4, random_state=10)

In [28]:
from sklearn.metrics import accuracy_score

pred_cv = model.predict(X_test)
accuracy_score(y_test,pred_cv)

0.8351648351648352

In [29]:
pred_train = model.predict(X_train)
accuracy_score(y_train,pred_train)

0.9292452830188679

In [30]:
# saving the model 
import pickle
pickle_out = open("classifier.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()

In [44]:
%%writefile DeployApp.py
 

import pickle
import streamlit as st
import numpy as np

 
# loading the trained model
pickle_in = open('classifier.pkl', 'rb') 
classifier = pickle.load(pickle_in)
 
@st.cache(allow_output_mutation=True)

# defining the function which will make the prediction using the data which the user inputs 
def prediction(age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal):
    
    # preprocess user input
    if sex == 'Male':
        sex = 0
    else:
        sex = 1
        
    # making predictions of all the grouphs in the file
    predictions = classifier.predict(
        [[age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal]])
    if (predictions[0] == 0):
        disease = "Nondefective heart"
    else:
        disease = "Defective Heart"
    return disease 
# main function defines our webpage
def main():
     # front end elements of the web page 
    html_temp ="""
    <div style ="background-color:red;background-image: linear-gradient(45deg, #f3ec78, #af4261);background-size: 100%;  background-repeat: repeat;;
    -webkit-background-clip: text;-webkit-text-fill-color: transparent; -moz-background-clip: text;
    -moz-text-fill-color: transparent;"> 
    <h1 style ="text-align: center;font-family: "Archivo Black", sans-serif;font-weight: normal;font-size: 6em; ">Heart Disease Deployment</h1> 
    </div> """
    # display the front end aspect
    st.markdown(html_temp, unsafe_allow_html = True) 

    # allow user input 
    sex = st.selectbox('Sex',('Male','Female'))
    age  = st.slider('Age',min_value=1, max_value=100, value=10, step=1)
    cp  = st.slider('Constrictive pericarditis (CP): ',min_value=0, max_value=3, value=0, step=1)
    trestbps  = st.slider('Resting blood pressure (trestbps)',min_value=100, max_value=200, value=1, step=1)
    chol = st.slider('Cholesterol (chol)',min_value=100, max_value=400, value=1, step=1)
    fbs = st.slider('fasting blood sugar (fbs)',min_value=0, max_value=2, value=0, step=1)
    restecg = st.slider('Resting electrocardiographic Results:(0 = normal; 1 = having ST-T; 2 = hypertrophy) (restecg)',min_value=0, max_value=2, value=0, step=1)
    thalach  = st.slider('Maximum Heart Rate achieved (thalach)',min_value=50, max_value=200, value=0,step=1)
    exang  = st.slider('Exercise induced angina (exang)',min_value=0, max_value=2, value=0, step=1)
    oldpeak  = st.slider('Exercise relative to rest (oldpeak)',min_value=0.0, max_value=4.0, value=0.0, step=0.1)
    slope  = st.slider('ST/heart rate (Slope)',min_value=0, max_value=3, value=0, step=1)
    ca  = st.slider('Coronary calcium (CA)',min_value=0, max_value=5, value=0, step=1)
    thal  = st.slider('Thalassemia (thal)',min_value=0, max_value=4, value=0, step=1)

    # Make the prediction and store it when clicked
    if st.button("Predict"):
        result = prediction(age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal)
        st.success(f'Health Status is {result}')
if __name__=='__main__': 
    main()

Overwriting DeployApp.py