In [4]:
# Data Analysis tools
import numpy as np
import pandas as pd 

# Import other necessary libraries 
from keras.models import Sequential
from keras.layers import Dense, Activation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [5]:
#reading csv file
read_file = pd.read_csv("train.csv")

In [6]:
printtrain.shape

NameError: name 'train' is not defined

In [4]:
y = read_file.Group # Target label 
X = read_file.drop('Group', axis=1) # Drop the target label

In [68]:
read_file.head() # printing the first 5 rows

         Group M/F  Age  EDUC  SES  MMSE  CDR  eTIV   nWBV    ASF
0  Nondemented   M   87    14  2.0  27.0  0.0  1987  0.696  0.883
1  Nondemented   M   88    14  2.0  30.0  0.0  2004  0.681  0.876
2     Demented   M   75    12  NaN  23.0  0.5  1678  0.736  1.046
3     Demented   M   76    12  NaN  28.0  0.5  1738  0.713  1.010
4     Demented   M   80    12  NaN  22.0  0.5  1698  0.701  1.034

In [6]:
y.unique() # print the unique values

array(['Nondemented', 'Demented', 'Converted'], dtype=object)

In [7]:
Encoder = LabelEncoder() #create an object of class LabelEncoder
y = Encoder.fit_transform(y) # encode our target/label categories to numbers
y # ML uses these numeric labels (0, 1, 2) to do classification

array([2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 1,
       1, 1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 0, 0, 0, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 2, 2, 1, 1,
       1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 0, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 0, 0,
       0, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 0, 0, 0,
       0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 1,
       1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1,
       1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 1, 1, 0, 0, 0, 2, 2, 2,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2])

In [8]:
X.head() #  Printing the first 5 rows

  M/F  Age  EDUC  SES  MMSE  CDR  eTIV   nWBV    ASF
0   M   87    14  2.0  27.0  0.0  1987  0.696  0.883
1   M   88    14  2.0  30.0  0.0  2004  0.681  0.876
2   M   75    12  NaN  23.0  0.5  1678  0.736  1.046
3   M   76    12  NaN  28.0  0.5  1738  0.713  1.010
4   M   80    12  NaN  22.0  0.5  1698  0.701  1.034

In [9]:
X["M/F"] = Encoder.fit_transform(X["M/F"]) # Replace the existing text data with the new encoded data
#X.head()
X.tail()

     M/F  Age  EDUC  SES  MMSE  CDR  eTIV   nWBV    ASF
368    1   82    16  1.0  28.0  0.5  1693  0.694  1.037
369    1   86    16  1.0  26.0  0.5  1688  0.675  1.040
370    0   61    13  2.0  30.0  0.0  1319  0.801  1.331
371    0   63    13  2.0  30.0  0.0  1327  0.796  1.323
372    0   65    13  2.0  30.0  0.0  1333  0.801  1.317

In [10]:
X.isnull().sum() # Display missing data in our training data

M/F      0
Age      0
EDUC     0
SES     19
MMSE     2
CDR      0
eTIV     0
nWBV     0
ASF      0
dtype: int64

In [11]:
X['SES'] = X.SES.fillna(X['SES'].mean())
X['MMSE'] = X.MMSE.fillna(X['MMSE'].mean())
X.isnull().sum()

M/F     0
Age     0
EDUC    0
SES     0
MMSE    0
CDR     0
eTIV    0
nWBV    0
ASF     0
dtype: int64

In [12]:
y.shape, X.shape

((373,), (373, 9))

In [13]:
from keras.utils import np_utils

In [14]:
y

array([2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 1,
       1, 1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 0, 0, 0, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 2, 2, 1, 1,
       1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 0, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 0, 0,
       0, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 0, 0, 0,
       0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 1,
       1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1,
       1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 1, 1, 0, 0, 0, 2, 2, 2,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2])

In [15]:
"""new = OneHotEncoder(sparse=False)
y_new = new.fit_transform(y.reshape(-1,1))
y_new.shape"""

'new = OneHotEncoder(sparse=False)\ny_new = new.fit_transform(y.reshape(-1,1))\ny_new.shape'

In [16]:
new_y = np_utils.to_categorical(y)
new_y

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]], dtype=float32)

In [17]:
# Split data into train data and test train data
X_train, X_test, y_train, y_test = train_test_split(X, new_y, test_size=.3, random_state=42) 

# Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [18]:
X.shape[1]

9

In [65]:
#Define the model architecture
model = Sequential()
model.add(Dense(700, input_dim=X.shape[1],activation = "relu")) #Layer 1
model.add(Dense(600,activation = "relu")) #Layer 2
model.add(Dense(500,activation = "relu")) #Layer 3
model.add(Dense(400,activation = "relu")) #Layer 4
model.add(Dense(300,activation = "relu")) #Layer 5
model.add(Dense(3,activation = "softmax")) #Output Layer
#Configure the model
model.compile(optimizer='Adam',loss= 'categorical_crossentropy', metrics=['accuracy'])
#Train the model
model.fit(X_train, y_train, batch_size=64, epochs=24)

Epoch 1/24
5/5 [==============================] - 0s 8ms/step - loss: 0.8578 - accuracy: 0.5977
Epoch 2/24
5/5 [==============================] - 0s 8ms/step - loss: 0.4458 - accuracy: 0.8851
Epoch 3/24
5/5 [==============================] - 0s 8ms/step - loss: 0.2706 - accuracy: 0.9004
Epoch 4/24
5/5 [==============================] - 0s 8ms/step - loss: 0.2129 - accuracy: 0.9310
Epoch 5/24
5/5 [==============================] - 0s 10ms/step - loss: 0.1883 - accuracy: 0.9349
Epoch 6/24
5/5 [==============================] - 0s 10ms/step - loss: 0.1598 - accuracy: 0.9425
Epoch 7/24
5/5 [==============================] - 0s 10ms/step - loss: 0.1359 - accuracy: 0.9540
Epoch 8/24
5/5 [==============================] - 0s 10ms/step - loss: 0.2112 - accuracy: 0.9310
Epoch 9/24
5/5 [==============================] - 0s 10ms/step - loss: 0.2292 - accuracy: 0.9310
Epoch 10/24
5/5 [==============================] - 0s 9ms/step - loss: 0.1619 - accuracy: 0.9579
Epoch 11/24
5/5 [==============================] - 0s 10ms/step - loss: 0.2252 - accuracy: 0.9272
Epoch 12/24
5/5 [==============================] - 0s 10ms/step - loss: 0.1585 - accuracy: 0.9502
Epoch 13/24
5/5 [==============================] - 0s 8ms/step - loss: 0.1543 - accuracy: 0.9540
Epoch 14/24
5/5 [==============================] - 0s 11ms/step - loss: 0.1279 - accuracy: 0.9464
Epoch 15/24
5/5 [==============================] - 0s 10ms/step - loss: 0.1172 - accuracy: 0.9655
Epoch 16/24
5/5 [==============================] - 0s 10ms/step - loss: 0.0995 - accuracy: 0.9693
Epoch 17/24
5/5 [==============================] - 0s 8ms/step - loss: 0.0839 - accuracy: 0.9770
Epoch 18/24
5/5 [==============================] - 0s 8ms/step - loss: 0.0620 - accuracy: 0.9770
Epoch 19/24
5/5 [==============================] - 0s 10ms/step - loss: 0.0488 - accuracy: 0.9808
Epoch 20/24
5/5 [==============================] - 0s 8ms/step - loss: 0.0381 - accuracy: 0.9847
Epoch 21/24
5/5 [==============================] - 0s 9ms/step - loss: 0.0277 - accuracy: 0.9962
Epoch 22/24
5/5 [==============================] - 0s 10ms/step - loss: 0.0399 - accuracy: 0.9808
Epoch 23/24
5/5 [==============================] - 0s 10ms/step - loss: 0.0383 - accuracy: 0.9847
Epoch 24/24
5/5 [==============================] - 0s 10ms/step - loss: 0.1177 - accuracy: 0.9655

In [66]:
model.evaluate(X_test, y_test) # Evaluate model on test data

4/4 [==============================] - 0s 2ms/step - loss: 0.9271 - accuracy: 0.8661

[0.9271193742752075, 0.8660714030265808]