In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Activation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
# loading the csv data to a Pandas DataFrame
data = pd.read_csv('heart.csv')

In [3]:

y = data.target # Target label 
X = data.drop('target', axis=1) # Drop the target label

In [4]:
data.head() # printing the first 5 rows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
y.unique() # print the unique values

array([1, 0], dtype=int64)

In [6]:
Encoder = LabelEncoder() #create an object of class LabelEncoder
y = Encoder.fit_transform(y) # encode our target/label categories to numbers
y # ML uses these numeric labels (0, 1, 2) to do classification

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [7]:
X.head() #  Printing the first 5 rows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [8]:
X["sex"] = Encoder.fit_transform(X["sex"]) # Replace the existing text data with the new encoded data
#X.head()
X.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [9]:
X.isnull().sum() # Display missing data in our training data

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [10]:
y.shape, X.shape

((303,), (303, 13))

In [18]:
# Split data into train data and test train data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42) 
# Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [19]:
X.shape[1]

13

In [20]:

#Define the model architecture
model = Sequential()
model.add(Dense(700, input_shape=(X.shape[1], ), activation='relu')) # Layer 1 
model.add(Dense(600,activation = "relu")) #Layer 2
model.add(Dense(500,activation = "relu")) #Layer 3
model.add(Dense(400,activation = "relu")) #Layer 4
model.add(Dense(300,activation = "relu")) #Layer 5
model.add(Dense(3,activation = "softmax")) #Output Layer
#Configure the model
model.compile(optimizer="Adam", loss='sparse_categorical_crossentropy', metrics=['accuracy']) #Output layer
#Train the model
model.fit(X_train, y_train, batch_size=64, epochs=7)

Epoch 1/7
4/4 [==============================] - 0s 10ms/step - loss: 0.8339 - accuracy: 0.6745
Epoch 2/7
4/4 [==============================] - 0s 11ms/step - loss: 0.3725 - accuracy: 0.8302
Epoch 3/7
4/4 [==============================] - 0s 10ms/step - loss: 0.3924 - accuracy: 0.8632
Epoch 4/7
4/4 [==============================] - 0s 10ms/step - loss: 0.3823 - accuracy: 0.8585
Epoch 5/7
4/4 [==============================] - 0s 11ms/step - loss: 0.2813 - accuracy: 0.8774
Epoch 6/7
4/4 [==============================] - 0s 11ms/step - loss: 0.2349 - accuracy: 0.9245
Epoch 7/7
4/4 [==============================] - 0s 12ms/step - loss: 0.2002 - accuracy: 0.9340

In [21]:
model.evaluate(X_test, y_test) # Evaluate model on test data

3/3 [==============================] - 0s 3ms/step - loss: 0.5072 - accuracy: 0.8352

[0.5071832537651062, 0.8351648449897766]

In [22]:
model = LogisticRegression()

In [23]:
# training the LogisticRegression model with Training data
model.fit(X_train, y_train)

LogisticRegression()

In [25]:
# accuracy on training data
Xtrain_prediction = model.predict(X_train)
DataAccuracy = accuracy_score(Xtrain_prediction, y_train)

In [26]:
print('Accuracy on Training data : ', DataAccuracy)

Accuracy on Training data :  0.8726415094339622

In [29]:
# accuracy on test data
Xtest_prediction = model.predict(X_test)
testAccuracy = accuracy_score(Xtest_prediction, y_test)

In [30]:
print('Accuracy on Test data : ', testAccuracy)

Accuracy on Test data :  0.8351648351648352